<ion-menu contentId="menu-content" (ionDidClose)="hideSubmenus()" menuId="menu-sidebar" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Recipe Book</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item (click)="navigateToRecipes()">
        <ion-icon class="ion-margin-horizontal" name="document" color="primary"></ion-icon>
        <ion-label>Recipes</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon class="ion-margin-horizontal" name="clipboard" color="primary"></ion-icon>
        <ion-label>Shopping List</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-list>
      <ion-item (click)="toggleManage()">
        <ion-icon class="ion-margin-horizontal" name="settings" color="warning"></ion-icon>
        <ion-label>Manage</ion-label>
      </ion-item>

      <ion-item class="item-submenu" (click)="onFetchDataClicked()" *ngIf="isManageShown">
        <ion-icon class="ion-margin-horizontal" name="cloud-download-outline"></ion-icon>
        <ion-label>Fetch Data</ion-label>
      </ion-item>

      <ion-item class="item-submenu" *ngIf="isManageShown">
        <ion-icon class="ion-margin-horizontal" name="cloud-upload-outline"></ion-icon>
        <ion-label>Save Data</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon class="ion-margin-horizontal" name="log-out" color="danger"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-menu>

<ng-content></ng-content>
