<ion-header>
  <ion-toolbar>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="ingredients.length === 0">
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">
            <i>No ingredients found</i>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let ingredient of ingredients; let ingredientIndex = index">
      <ion-col size="7">
        <ion-item>
          <ion-label>
            {{ ingredient.name }}
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="3">
        <ion-item>
          <ion-label class="ion-text-right">
            {{ ingredient.amount }}
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col (click)="editIngredient(ingredientIndex)" class="flex-center" size="2">
        <ion-button fill="clear" color="dark">
          <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="addIngredient()" color="success" expand="block">New ingredient</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
