<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="(recipes$ | async).length === 0">
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">
            <i>No recipes loaded</i>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let recipe of (recipes$ | async)">
      <ion-col>
        <ion-item>
          <ion-avatar class="ion-margin-end">
            <img [src]="recipe.imagePath">
          </ion-avatar>

          <ion-label>{{ recipe.name }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="navigateToRecipeForm()" color="success" expand="block">New recipe</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
