<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="(recipes$ | async).length === 0">
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">
            <i>No recipes loaded</i>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="(recipes$ | async).length > 0">
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let recipe of (recipes$ | async)">
            <ion-avatar>
              <img [src]="recipe.imagePath">
            </ion-avatar>

            <ion-label>{{ recipe.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block">New recipe</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
